button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
}

.option {
  background-color: #f4f4f4;
  border-radius: 5px;
  font-size: 20px;
}

.player-score {
  background-color: #f4f4f4;
  border-radius: 5px;
  font-size: 20px;
  padding: 1em 1em;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h1, h2, h3 {
  margin: 0;
}

.leader-board-rank {
  width: 7em;
}

.leader-board-score {
  width: 5em;
}

.leader-board-name {
  min-width: 15em;
}

@media (width < 1024px) {
  .main-screen {
    flex-direction: column-reverse;
  }
  .wrong {
    flex-direction: column;
  }
  .leader-board-rank {
    width: 4em;
  }
  .leader-board-score {
    width: 3em;
  }
  .leader-board-name {
    min-width: auto;
  }
}