button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
}

.option {
  background-color: #f4f4f4;
  border-radius: 5px;
  font-size: 20px;
}

.player-score {
  background-color: #f4f4f4;
  border-radius: 5px;
  font-size: 20px;
  padding: 1em 1em;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h1, h2, h3 {
  margin: 0;
}

.main-screen {
  padding: 4em 4em 1em;
}

.leader-board {
  gap: 1.25em;
  padding-block: 1em;
}

.leader-board-rank {
  width: 7em;
}

.leader-board-score {
  width: 5em;
}

.leader-board-name {
  min-width: 15em;
}

.leader-board-row {
  gap: 1em;
  font-size: 20px;
  font-weight: 500;
}

.wrong {
  font-size: 23px;
  font-weight: 500;
  gap: 2em;
  padding-block: 1em;
}

@media (width < 1024px) {
  .main-screen {
    flex-direction: column-reverse;
    padding: 2em 0;
  }
  .wrong {
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    gap: 3em;
    margin-top: 1em;
    padding-block: 0.75em;
  }
  .leader-board-row {
    gap: 1em;
    font-size: 16px;
    font-weight: 400;
  }
  .leader-board-rank {
    width: 3em;
  }
  .leader-board-score {
    width: 3em;
  }
  .leader-board-name {
    min-width: auto;
  }
  .leader-board {
    gap: 2em;
    padding-block: 2.5em;
  }
}